:deep(.pupop ){
  .picker-view {
    width: 100vw;
  }
}

:deep(.uni-swiper-dot){
  width: 12px !important;
  height: 3px;
  border-radius: 3px;
}

::-webkit-scrollbar{
  width:10px;
  height:10px;
  /**/
}
::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #333;
}
::-webkit-scrollbar-corner{
  background: #179a16;
}

.header {
  background: #000000;
  padding: 15px 0 8px 15px;
  img {
    cursor: pointer;
    width: 25px;
  }
  span {
    color: #ffffff;
    margin-left: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    top: -3px;
  }
}
.content {
  .info-box {

  }
  background: #ffffff;
  .fix-margin {
    margin-top: 30px;
  }
  .swiper-box {
    height: 600px;
    width: 100%;
  }

  .swiper-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 100%;
    .p {
      position: absolute;
      right: 10px;
      bottom: 25px;
      color: #ccc;
      width: 100%;
      font-size: 24px;
      text-align: right;
      padding-right: 20px;
      padding-bottom: 10px;
    }
  }

  .title-container {
    height: 20px;
    line-height: 20px;
    text-align: center;
    span {
      font-size: 15px;
      color: #666;
      font-weight: 300;
      position: relative;
      top: 20px;
    }
  }
  .title {
    font-size: 30px;
  }

  .device {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    .device-item {
      width: 25%;
      text-align: center;
      cursor: pointer;
      image,img {
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 8px;
        overflow: hidden;
        width: 90%;
      }
      p {
        text-align: center;
        font-size: 23px;
        position: relative;
        top: -20px;
      }
    }
  }

  .more {
    border: 1px solid #de1111;
    border-radius: 3px;
    color: #de1111;
    font-size: 17px;
    padding: 8px 36px;
    width: 150px;
    text-align: center;
    margin: 20px auto 0;
    font-weight: 700;
    cursor: pointer;
  }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    .footer {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .prod-item {
      width: 21%;
      position: relative;
      background: #efefef;
      border-radius: 5px;
      overflow: hidden;
      margin-top: 20px;
      text-align: center;
      margin-left: 3%;
      img,.image {
        height: 90%;
        margin: 0 auto;
      }
      .prod-img {
        height: 200px;
        background: #ffffff;
        object-fit: scale-down;
      }
    }
    .prod-info{
      text-align: left;
      width: 100%;
      margin: 0 auto;
      font-size: 13px;
      background: #efefef;
      .info {
        width: 100%;
        font-size: 22px;
        padding: 20px 20px;
        font-weight: 700;
      }
      .specs {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        color: #333;
        font-size: 20px;
        background: rgba(245, 245, 245, 1);
        border-radius: 4px;
        overflow: hidden;
        width: 85%;
        margin: 0 auto;
        background: #ffffff;
        padding: 15px;
        >div{
          width: 35%;
          border-left: 1px solid rgba(204, 204, 204, 0.63);
          padding-left: 5px;
        }
        >div:first-child {
          border: 0;
        }
        >div:last-child {
          width:50%;
          padding-left: 15px;
        }
        .specs-line1 {
          margin-top: 3px;
          font-size: 16px;
          img {
            position: relative;
            top: 3px;
            margin-right: 5px;
            width: 20px;
          }
        }
        .specs-line2 {
          margin-top: 15px;
          font-size: 16px;
          color: #000;
          font-weight: 600;
          span {
            font-size: 18px;
          }
        }
        .specs-line3 {
          margin-top: 10px;
          color: #666666;
          font-size: 14px;
        }
      }
    }
    .btn-des {
      padding: 5px 3px 10px 3px;
      span {
        border: 1px solid rgba(218, 41, 28, 1);
        border-radius: 3px;
        padding: 3px 8px;
        color: rgba(218, 41, 28, 1);
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        margin-top: 5px;
      }
    }
    .hover {
      background: rgba(0,0,0,0);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 98;
      div {
        background: rgba(0,0,0,0);
        color:  rgba(0,0,0,0);
        padding: 10px;
        width: 90%;
        margin:0 auto;
        position: relative;
        top: 45%;
      }
    }
    .hover:hover {
      background: rgba(0,0,0,0.5);
      div {
        background: #333;
        color: #ffffff;
        padding: 10px;
        width: 90%;
        margin:0 auto;
        position: relative;
        top: 45%;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }

  .specification,.message {
    z-index:99;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(1, 12, 23, 0.57);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    .info-part {
      height: 700px;
      width: 800px;
      background: #ffffff;
      position: absolute;
      bottom: -100%;
      border-radius: 20px;
      h3 {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        img {
          cursor: pointer;
          width: 15px;
        }
      }
      h4 {
        font-size: 15px;
        margin-top: 10px;
      }
      .specs.active {
        border: 1px solid red;
        background: rgba(218, 41, 28, 0.04);
        .active-corner {
          position: absolute;
          right: -17px;
          bottom: -16px;
          img {
            width: 20px;
          }
        }
      }
      .info {
        width: 95%;
        margin: 0 auto;
        .info-list {
          height: 550px;
          overflow-y: scroll;
        }
      }
    }
    .active {
      animation:show .5s forwards;
    }
    .hide {
      animation:hide .5s forwards;
    }
    @keyframes show{
      to {
        bottom: 20%;
        opacity: 1;
      }
    }
    @keyframes hide{
      to {
        bottom: -80%;
        opacity: 0;
      }
    }
  }

  .message {
    .info-part {
      background: #ffffff;
      position: absolute;
      bottom: -80%;
      height: 600px;
      .active {
        animation:show .5s forwards;
      }
      .contact-list {
        .contact {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
          height: 45px;
          border-radius: 8px;
          background: rgba(248, 248, 248, 1);
          padding: 15px;
          margin-top: 10px;
          .img-box {
            width: 50px;
            img {
              height: 40px;
              width: 40px;
            }
          }
          .contact-info {
            width: 30%;
            p {
              font-weight: 700;
            }
            p:last-child {
              font-size: 14px;
              margin-top: 5px;
              font-weight: 300;
            }
          }
          .contact-btn {
            width: 50%;
            text-align: right;
            img {
              width: 44px;
              height: 44px;
              margin-right: 20px;
              cursor: pointer;
            }
          }
        }
      }

      @keyframes show{
        to {
          bottom: 10%;
          opacity: 1;
        }
      }
      @keyframes hide{
        to {
          bottom: -80%;
          opacity: 0;
        }
      }
      .des {
        font-size: 13px;
        color: #999;
        margin-top: 5px;
      }

      .form {
        height: 370px;
        overflow-y: scroll;
        .form-item {
          .label {
            margin-top: 15px;
          }
          .input-item {
            width: 90%;
            margin-top: 10px;
            background: rgba(239, 239, 239, 0.47);
            padding: 10px;
            border-radius: 3px;
          }
          .text-area {
            width: 90%;
            height: 80px;
          }
        }
      }
    }
    .tips {
      width: 500px;
      height: 200px;
      background: #ffffff;
      margin: 0 auto;
      border-radius: 10px;
      padding: 10px;
      position: relative;
      top: 20%;
      h3 {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
      }
      p {
        font-size: 15px;
        margin-top: 10px;
        padding: 10px;
      }
      div {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        height: 45px;
        background: rgba(218, 41, 28, 1);
        color: #ffffff;
        line-height: 45px;
        border-radius: 3px;
        margin-top: 50px;
      }
    }
  }

  .pos-footer-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    .btn-mid {
      img,image {
        width: 21px;
        position: relative;
        top: 10px;
        cursor: pointer;
      }
      width: 49.5%;
      text-align: center;
      color: #ffffff;
      line-height: 35px;
      border-radius: 3px;
      font-size: 18px;
    }
    .btn-mid:last-child {
      border-left: 1px solid rgba(239, 239, 239, 0.38);
    }
    >div {
      cursor: pointer;
    }
  }

  .footer-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .btn-large{
      width: 93%;
      margin: 0 auto;
      text-align: center;
      height: 45px;
      background: rgba(218, 41, 28, 1);
      color: #ffffff;
      line-height: 45px;
      border-radius: 3px;
    }
    .btn-mid {
      margin-top: 10px;
      width: 43%;
      text-align: center;
      border: 1px solid rgba(218, 41, 28, 1);
      color: #fff;
      line-height: 40px;
      height: 40px;
      border-radius: 3px;
      background: rgba(218, 41, 28, 1);
      img {
        position: relative;
        top: 6px;
        margin-right: 5px;
      }
    }
    .privacy {
      margin-top: 10px;
      font-size: 12px;
      color: #999999;
      span {
        color: #59a0ff;
      }
    }
    .checkPrivacy-box {
      text-align: left;
      width: 90%;
      font-size: 13px;
      margin-bottom: 5px;
      .check-box {
        position: relative;
        top: -1px;
      }
    }
  }
  .fixed-circle {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    .btn-large {
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
